.commentWrapper{
    width: 100%;   
    display: flex;
    /* justify-content: center; */
    gap: 1rem;
    align-items: center;
   
   }
   .commentWrapper input{
       display: flex;
       width: 50%;
       height: 50px;
   
   }
   .commentWrapper input::placeholder{
       font-size: 12px;
       letter-spacing: 1px;
       padding-left: 8px;
   
   
   }
   .commentWrapper button{
       background: var(--main_color);
       padding: 0 1rem;
       border-radius: 4px;
       height: 50px;
       letter-spacing: 1px;
       border: none;
       outline: none;
       font-size: 13px;
       color: white;
   }